/*
style.css
This program implements the visual components of the connect four game setting up the board, and the colors for the tokens along with a ghost of where the players token will go if there is a mouse click
Emma Martin and Sydney Morick
April 25, 2020
 */
body{
    text-align: center;
}

#connect4{
    background-color: dodgerblue;
    display: inline-block;
}
.col{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}
.col.empty{
    cursor:pointer;
}
.next-red{
    background-color: rgba(255,0,0,0.2);
}
.next-yellow{
    background-color: rgba(236, 236, 180, 0.73);
}
.col.red{
    background-color: red;
}
.col.yellow{
    background-color: yellow;
}